<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your match</h1><br>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button [hidden]="isShow" class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
    </div><br>
  <form [formGroup]="resetForm" [hidden]="isShow" (ngSubmit)="forgotPassword()">
    <p [hidden]="isShow" class="lead">Enter your email here if you've forgotten your password:</p>
    <div class="form-group">
      <input
        [hidden]="isShow"
        class="form-control"
        placeholder="Email"
        formControlName="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        title="Please enter a valid email with an @ & atleast .xx"
      />
      </div>
      <div class="form-group">
      <button [hidden]="isShow" class="btn btn-primary btn-lg mr-2" type="submit">Forgot Password</button>
      </div>
    </form>
</div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center">
<form [hidden]="isReset" [formGroup]="passwordForm">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="form-group">
    <input
      required="required"
      pattern="(?=^.{6,30}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])(?=.*[a-z]).*$"
      type="password"
      class="form-control"
      title="Please enter a complex password, atleast one capital letter, one lowercase letter, one number & one special character"
      formControlName="password"
      placeholder="Password must contain a lowercase & capital letter, number & special character"
    />
  </div>
  <div class="form-group">
    <button
      class="btn btn-success"
      [disabled]="!passwordForm.valid"
      type="submit"
      (click)="newPassword()"
    >
      Save
    </button>
  </div>
</form></div><br><br><br>