<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input
        class="mr-3"
        type="radio"
        value="male"
        formControlName="gender"
      />Male
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="female"
        formControlName="gender"
      />Female
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="other"
        formControlName="gender"
      />Other
    </label>
  </div>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">My sexual orientation is: </label>
    <label class="radio-inline">
      <input
        class="mr-3"
        type="radio"
        value="homosexual"
        formControlName="sexuality"
      />Homosexual
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="heterosexual"
        formControlName="sexuality"
      />Heterosexual
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="bisexual"
        formControlName="sexuality"
      />Bisexual
    </label>
  </div>

  <div class="form-group">
    <input
      type="text"
      required="required"
      pattern="[A-Za-z0-9]{1,20}"
      [ngClass]="{
        'is-invalid':
          registerForm.get('username').errors &&
          registerForm.get('username').touched
      }"
      class="form-control"
      formControlName="username"
      placeholder="Username"
      title="Username should contain only A-Z, a-z, 0-9 & be between 1 & 20 characters"
    />
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="[A-Za-z-]{1,20}"
      [ngClass]="{
        'is-invalid':
          registerForm.get('name').errors &&
          registerForm.get('name').touched
      }"
      class="form-control"
      placeholder="Name"
      title="Name should contain only A-Z, a-z, 0-9 & - & be between 1 & 20 characters"
      formControlName="name"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('name').touched &&
        registerForm.get('name').hasError('required')
      "
    >
      Name is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="[A-Za-z-]{1,20}"
      [ngClass]="{
        'is-invalid':
          registerForm.get('surname').errors &&
          registerForm.get('surname').touched
      }"
      class="form-control"
      placeholder="Surname"
      title="Surname should contain only A-Z, a-z, 0-9 & - & be between 1 & 20 characters"
      formControlName="surname"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('surname').touched &&
        registerForm.get('surname').hasError('required')
      "
    >
      Surname is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      [ngClass]="{
        'is-invalid':
          registerForm.get('dateOfBirth').errors &&
          registerForm.get('dateOfBirth').touched
      }"
      class="form-control"
      placeholder="Click to Select Date of Birth"
      title="Click to select date of birth from the calendar"
      formControlName="dateOfBirth"
      type="text"
      bsDatepicker
      [bsConfig]="bsConfig"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('dateOfBirth').touched &&
        registerForm.get('dateOfBirth').hasError('required')
      "
    >
      Date of Birth is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="[A-Za-z- ]{1,20}"
      [ngClass]="{
        'is-invalid':
          registerForm.get('city').errors && registerForm.get('city').touched
      }"
      class="form-control"
      placeholder="City"
      title="City should contain only A-Z, a-z & - & be between 1 & 20 characters"
      formControlName="city"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('city').touched &&
        registerForm.get('city').hasError('required')
      "
    >
      City is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="[A-Za-z- ]{1,20}"
      [ngClass]="{
        'is-invalid':
          registerForm.get('country').errors &&
          registerForm.get('country').touched
      }"
      class="form-control"
      placeholder="Country"
      title="Country should contain only A-Z, a-z, - & be between 1 & 20 characters"
      formControlName="country"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('country').touched &&
        registerForm.get('country').hasError('required')
      "
    >
      Country is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [ngClass]="{
        'is-invalid':
          registerForm.get('email').errors &&
          registerForm.get('email').touched
      }"
      class="form-control"
      placeholder="Email"
      title="Please enter a valid email with an @ & atleast .xx"
      formControlName="email"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('email').touched &&
        registerForm.get('email').hasError('required')
      "
    >
      Email is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="(?=^.{6,30}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])(?=.*[a-z]).*$"
      type="password"
      [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
      class="form-control"
      title="Please enter a complex password, atleast one capital letter, one lowercase letter, one number & one special character"
      formControlName="password"
      placeholder="Password must contain a lowercase & capital letter, number & special character"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched
      "
    >
      Password is required
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched
      "
    >
      Password must be at least 6 characters
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched
      "
    >
      Password cannot exceed 30 characters
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="(?=^.{6,30}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])(?=.*[a-z]).*$"
      [ngClass]="{
        'is-invalid':
          (registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched) ||
          (registerForm.get('confirmPassword').touched &&
            registerForm.hasError('mismatch'))
      }"
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      title="Please enter a complex password, atleast one capital letter, one lowercase letter, one number & one special character"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Confirm Password is required
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.hasError('mismatch') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Passwords must match
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="[A-Za-z, .-]{1,50}"
      [ngClass]="{
        'is-invalid':
          registerForm.get('introduction').errors &&
          registerForm.get('introduction').touched
      }"
      class="form-control"
      placeholder="Description"
      title="Please enter only A-Z, a-z, spaces, commas, periods & hyphens, between one & 50 characters"
      formControlName="introduction"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('introduction').touched &&
        registerForm.get('introduction').hasError('required')
      "
    >
      Description is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="[A-Za-z, .-]{1,50}"
      [ngClass]="{
        'is-invalid':
          registerForm.get('lookingFor').errors &&
          registerForm.get('lookingFor').touched
      }"
      class="form-control"
      placeholder="Looking For"
      title="Please enter only A-Z, a-z, spaces, commas, periods & hyphens, between one & 50 characters"
      formControlName="lookingFor"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('lookingFor').touched &&
        registerForm.get('lookingFor').hasError('required')
      "
    >
      Looking For is required
    </div>
  </div>

  <div class="form-group">
    <input
      required="required"
      pattern="^#[\w-]+(?:\s+#[\w-]+)*$"
      [ngClass]="{
        'is-invalid':
          registerForm.get('interests').errors &&
          registerForm.get('interests').touched
      }"
      class="form-control"
      placeholder="Interest Hashtags (#beaches, #fun)"
      title="Please enter tags starting with # & only A-Z, a-z, separated by spaces, between one & 50 characters"
      formControlName="interests"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('interests').touched &&
        registerForm.get('interests').hasError('required')
      "
    >
      Interests is required
    </div>
  </div><br>

  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div><br>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map><br>

  <div class="form-group">
    <button
      class="btn btn-success"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Register
    </button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form><br><br><br>